body{
    background-color: #192444;
    font-family: 'Ms Sans Serif', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-image: url(/assets/images/hexy.png);
}

.container {
    display: flex; /* Use Flexbox for alignment */
    flex-wrap: wrap; /* Allow the items to wrap onto the next line on smaller screens */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /*Center the items vertically*/
    width: 50%; /* Set the width of the container */
    max-width: 640px; /* Sets a max-width for the container */
    min-width: 300px;
    margin: 0 auto; /* Centers the container */
    padding: 20px;

}
.window {
    position: relative;
    min-width: 300px;
    background: #c0c0c0;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #000;
    position: relative;
    max-width: 100%;
    flex: 1 1 300px; 
}

section {
display: flex;
justify-content: center;
width: 100%;
padding: 20px;
}

.window::before {
    content: attr(data-title);
    display: block;
    background: #000080;
    color: #fff;
    padding: 2px 5px;
    font-weight: bold;
}

label, p {
    width: calc(100% - 10px);
    margin: 5px 0;
}

p {
    padding: 5px;
    border: 1px solid #000;
    background-color: #ffffff;
}

.close-btn {
    
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background-color: #c0c0c0;
    font-size: 13px;
    border: 1px solid #000;
    padding: 1px 1px;
    box-shadow: #000 1px 1px 1px;
    margin-top: 2px;
}


@media (max-width: 600px) {
    .form-container {
        flex-direction: column;
    }
}



